.policy {
  padding: 20px 0;
  &-item-ctn {
    img {
      max-width: 40px;
      max-height: 40px;
    }

    .policy-item {
      margin-left: 10px;

      h5 {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.05rem;
        line-height: 1.1;
      }

      span {
        font-size: 13px;
        line-height: 1.3;
      }
    }
  }

  &-item-ctn:hover {
    cursor: pointer;
    .policy-item {
      h5 {
        color: #f6851d;
      }
    }
  }
}

