.deal {
  &-ctn {
    background: linear-gradient(to right, #e73827, #f85032);
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
  }

  &-title {
    padding: 10px;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      font-size: 23px;
      text-align: left;
    }
  }

  &-products {
    padding: 0px 5px 5px 5px;

    &-item-ctn {
      padding: 0px 5px 5px 5px;
      width: 20%;
    }
    
    &-item {
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
      padding: 5px 5px 15px 5px;
      position: relative;

      &:hover {
        a {
          img:first-child {
            opacity: 0;
            visibility: hidden;
          }

          img:nth-child(2) {
            opacity: 1;
            visibility: visible;
            top: 0;
          }
        }
      }
      &-img {
        height: 204px;
        position:relative;
        overflow: hidden;
      }

      img:first-child {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 300ms;
      }

      img:nth-child(2) {
        width: auto;
        height: 100%;
        position: absolute;
        top: 20px;
        left: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 500ms;
      }

      a {
        color: #000;
        text-transform: capitalize;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 600;
        text-align: center;
        letter-spacing: 1px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        transition: all 0.5s;
        margin-bottom: 3px;
      }

      a:hover {
        color: #f6851d;
      }

      .price-box {
        text-align: center;

        span {
          font-size: 13px;
          font-weight: 500;
        }

        span:first-child {
          color: #30c39e;
          margin-right: 3px;
        }

        span:nth-child(2) {
          text-decoration: line-through;
          color: #666;
        }
      }
      .sale {
        position: absolute;
        top: 15px;
        left: 15px;
        padding: 3px 15px;
        border-radius: 25px;
        background: #DA2020;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        opacity: 1;
        transition: all 0.5s ease 0s;
      }
    }
  }
}