.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 10px;
  padding-right: 10px;
}

.container, .container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Exo', sans-serif;
  background: #f2f2f2;
}

img {
  max-width: 100%;
}

.title {
  color: #000;
  text-transform: capitalize;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  transition: all 0.5s;
  margin-bottom: 3px;
  text-decoration: none;
}

.price-box {
  text-align: center;

  span {
    font-size: 13px;
    font-weight: 500;
  }

  span:first-child {
    color: #30c39e;
    margin-right: 3px;
  }

  span:nth-child(2) {
    text-decoration: line-through;
    color: #666;
  }
}
.sale {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 3px 15px;
  border-radius: 25px;
  background: #DA2020;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  opacity: 1;
  transition: all 0.5s ease 0s;
}

.product-img {
  width: auto;
  max-height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.first-img {
  top: 0;
  opacity: 1;
  transition: opacity 300ms;
}

.second-img {
  top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms;
}

.sport-title {
  text-align: center;
  margin-bottom: 20px;

  a {
    font-size: 40px;
    font-weight: 600;
    color: #000;
    line-height: 1.1;
    text-decoration: none;
    transition: color 0.3s;
  }

  &:hover {
    a {
      color: #f6851d
    }
  }
}